<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimamerchant.system.mapper.hotel.HotelInventoryMapper">

    <resultMap id="HotelInventoryVOResult" type="com.yimamerchant.system.domain.hotel.vo.HotelInventoryVO">
        <id property="id" column="id"/>
        <result property="roomTypeName" column="room_type_name"/>
        <result property="salePrice" column="sale_price"/>
        <result property="marketPrice" column="market_price"/>
        <result property="baseStock" column="base_stock"/>
        <result property="soldNum" column="sold_num"/>
        <result property="availableNum" column="available_num"/>
        <result property="saleStatus" column="sale_status"/>
        <result property="bookableFlag" column="bookable_flag"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <!-- 7.1 分页查询库存价格列表 -->
    <select id="selectInventoryList"
            parameterType="com.yimamerchant.system.domain.hotel.query.HotelInventoryQuery"
            resultMap="HotelInventoryVOResult">
        SELECT
            id,
            room_type_name,
            base_price AS sale_price,
            market_price,
            base_stock,
            sold_num,
            GREATEST(base_stock - sold_num, 0) AS available_num,
            sale_status,
            bookable_flag,
            update_time
        FROM hotel_room_type
        WHERE merchant_id = #{merchantId}
          AND del_flag = '0'
        <if test="roomTypeName != null and roomTypeName != ''">
            AND room_type_name LIKE CONCAT('%', #{roomTypeName}, '%')
        </if>
        <if test="saleStatus != null and saleStatus != ''">
            AND sale_status = #{saleStatus}
        </if>
        <if test="bookableFlag != null and bookableFlag != ''">
            AND bookable_flag = #{bookableFlag}
        </if>
        ORDER BY sort_num ASC, id DESC
    </select>

    <!-- 7.2 修改单个房型默认价格 -->
    <update id="updateBasePrice" parameterType="com.yimamerchant.system.domain.hotel.HotelRoomType">
        UPDATE hotel_room_type
        <set>
            base_price = #{basePrice},
            <if test="marketPrice != null">
                market_price = #{marketPrice},
            </if>
            update_by = #{updateBy},
            update_time = sysdate()
        </set>
        WHERE id = #{id}
          AND merchant_id = #{merchantId}
          AND del_flag = '0'
    </update>

    <!-- 7.3 修改单个房型默认库存 -->
    <update id="updateBaseStock" parameterType="com.yimamerchant.system.domain.hotel.HotelRoomType">
        UPDATE hotel_room_type
        <set>
            base_stock = #{baseStock},
            update_by = #{updateBy},
            update_time = sysdate()
        </set>
        WHERE id = #{id}
          AND merchant_id = #{merchantId}
          AND del_flag = '0'
    </update>

    <!-- 7.4 批量修改价格/库存 -->
    <update id="batchUpdateInventory" parameterType="com.yimamerchant.system.domain.hotel.form.HotelInventoryBatchForm">
        UPDATE hotel_room_type
        <set>
            <if test="basePrice != null">
                base_price = #{basePrice},
            </if>
            <if test="marketPrice != null">
                market_price = #{marketPrice},
            </if>
            <if test="baseStock != null">
                base_stock = #{baseStock},
            </if>
            update_by = #{updateBy},
            update_time = sysdate()
        </set>
        WHERE merchant_id = #{merchantId}
          AND del_flag = '0'
          AND id IN
        <foreach collection="roomTypeIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <!-- 7.5 修改是否可预订 -->
    <update id="updateBookableFlag" parameterType="com.yimamerchant.system.domain.hotel.HotelRoomType">
        UPDATE hotel_room_type
        <set>
            bookable_flag = #{bookableFlag},
            update_by = #{updateBy},
            update_time = sysdate()
        </set>
        WHERE id = #{id}
          AND merchant_id = #{merchantId}
          AND del_flag = '0'
    </update>

</mapper>

