<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimamerchant.system.mapper.hotel.HotelRoomTypeFacilityRelMapper">

    <resultMap id="HotelRoomTypeFacilityRelResult"
               type="com.yimamerchant.system.domain.hotel.HotelRoomTypeFacilityRel">
        <id     property="id"         column="id"/>
        <result property="hotelId"    column="hotel_id"/>
        <result property="roomTypeId" column="room_type_id"/>
        <result property="facilityId" column="facility_id"/>
    </resultMap>

    <select id="selectFacilityIdsByRoomTypeId" parameterType="Long" resultType="Long">
        select facility_id
        from hotel_room_type_facility_rel
        where room_type_id = #{roomTypeId}
    </select>

    <delete id="deleteByRoomTypeId" parameterType="Long">
        delete
        from hotel_room_type_facility_rel
        where room_type_id = #{roomTypeId}
    </delete>

    <insert id="batchInsert"
            parameterType="java.util.List">
        insert into hotel_room_type_facility_rel (
            hotel_id,
            room_type_id,
            facility_id
        )
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.hotelId},
            #{item.roomTypeId},
            #{item.facilityId}
            )
        </foreach>
    </insert>

</mapper>

