<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimamerchant.system.mapper.hotel.HotelInfoMapper">

    <resultMap type="com.yimamerchant.system.domain.hotel.HotelInfo" id="HotelInfoResult">
        <id     property="id"            column="id" />
        <result property="merchantId"    column="merchant_id" />
        <result property="hotelName"     column="hotel_name" />
        <result property="hotelCover"    column="hotel_cover" />
        <result property="hotelImages"   column="hotel_images" />
        <result property="phone"         column="phone" />
        <result property="provinceCode"  column="province_code" />
        <result property="cityCode"      column="city_code" />
        <result property="districtCode"  column="district_code" />
        <result property="address"       column="address" />
        <result property="longitude"     column="longitude" />
        <result property="latitude"      column="latitude" />
        <result property="checkInTime"   column="check_in_time" />
        <result property="checkOutTime"  column="check_out_time" />
        <result property="intro"         column="intro" />
        <result property="bookingNotice" column="booking_notice" />
        <result property="cancelRule"    column="cancel_rule" />
        <result property="invoiceDesc"   column="invoice_desc" />
        <result property="parkingDesc"   column="parking_desc" />
        <result property="status"        column="status" />
        <result property="delFlag"       column="del_flag" />
        <result property="createBy"      column="create_by" />
        <result property="createTime"    column="create_time" />
        <result property="updateBy"      column="update_by" />
        <result property="updateTime"    column="update_time" />
        <result property="remark"        column="remark" />
    </resultMap>

    <sql id="selectHotelInfoVo">
        select
            id,
            merchant_id,
            hotel_name,
            hotel_cover,
            hotel_images,
            phone,
            province_code,
            city_code,
            district_code,
            address,
            longitude,
            latitude,
            check_in_time,
            check_out_time,
            intro,
            booking_notice,
            cancel_rule,
            invoice_desc,
            parking_desc,
            status,
            del_flag,
            create_by,
            create_time,
            update_by,
            update_time,
            remark
        from hotel_info
    </sql>

    <select id="selectByMerchantId" parameterType="Long" resultMap="HotelInfoResult">
        <include refid="selectHotelInfoVo"/>
        where merchant_id = #{merchantId}
          and del_flag = '0'
        limit 1
    </select>

    <insert id="insertHotelInfo" parameterType="com.yimamerchant.system.domain.hotel.HotelInfo" useGeneratedKeys="true" keyProperty="id">
        insert into hotel_info (
            merchant_id,
            hotel_name,
            hotel_cover,
            hotel_images,
            phone,
            province_code,
            city_code,
            district_code,
            address,
            longitude,
            latitude,
            check_in_time,
            check_out_time,
            intro,
            booking_notice,
            cancel_rule,
            invoice_desc,
            parking_desc,
            status,
            del_flag,
            create_by,
            create_time,
            remark
        ) values (
            #{merchantId},
            #{hotelName},
            #{hotelCover},
            #{hotelImages},
            #{phone},
            #{provinceCode},
            #{cityCode},
            #{districtCode},
            #{address},
            #{longitude},
            #{latitude},
            #{checkInTime},
            #{checkOutTime},
            #{intro},
            #{bookingNotice},
            #{cancelRule},
            #{invoiceDesc},
            #{parkingDesc},
            #{status},
            '0',
            #{createBy},
            sysdate(),
            #{remark}
        )
    </insert>

    <update id="updateHotelInfo" parameterType="com.yimamerchant.system.domain.hotel.HotelInfo">
        update hotel_info
        <set>
            <if test="hotelName != null and hotelName != ''">hotel_name = #{hotelName},</if>
            <if test="hotelCover != null and hotelCover != ''">hotel_cover = #{hotelCover},</if>
            <if test="hotelImages != null">hotel_images = #{hotelImages},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="provinceCode != null and provinceCode != ''">province_code = #{provinceCode},</if>
            <if test="cityCode != null and cityCode != ''">city_code = #{cityCode},</if>
            <if test="districtCode != null and districtCode != ''">district_code = #{districtCode},</if>
            <if test="address != null and address != ''">address = #{address},</if>
            <if test="longitude != null">longitude = #{longitude},</if>
            <if test="latitude != null">latitude = #{latitude},</if>
            <if test="checkInTime != null and checkInTime != ''">check_in_time = #{checkInTime},</if>
            <if test="checkOutTime != null and checkOutTime != ''">check_out_time = #{checkOutTime},</if>
            <if test="intro != null">intro = #{intro},</if>
            <if test="bookingNotice != null">booking_notice = #{bookingNotice},</if>
            <if test="cancelRule != null">cancel_rule = #{cancelRule},</if>
            <if test="invoiceDesc != null">invoice_desc = #{invoiceDesc},</if>
            <if test="parkingDesc != null">parking_desc = #{parkingDesc},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
          and merchant_id = #{merchantId}
          and del_flag = '0'
    </update>

    <update id="updateStatus" parameterType="com.yimamerchant.system.domain.hotel.HotelInfo">
        update hotel_info
        <set>
            status = #{status},
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
          and merchant_id = #{merchantId}
          and del_flag = '0'
    </update>

</mapper>

