<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yimamerchant.system.mapper.hotel.HotelRoomTypeMapper">

    <resultMap id="HotelRoomTypeResult" type="com.yimamerchant.system.domain.hotel.HotelRoomType">
        <id     property="id"            column="id"/>
        <result property="hotelId"       column="hotel_id"/>
        <result property="merchantId"    column="merchant_id"/>
        <result property="roomTypeName"  column="room_type_name"/>
        <result property="roomTypeCode"  column="room_type_code"/>
        <result property="roomImages"    column="room_images"/>
        <result property="bedType"       column="bed_type"/>
        <result property="peopleLimit"   column="people_limit"/>
        <result property="area"          column="area"/>
        <result property="floorDesc"     column="floor_desc"/>
        <result property="windowType"    column="window_type"/>
        <result property="breakfastCount" column="breakfast_count"/>
        <result property="extraBedFlag"  column="extra_bed_flag"/>
        <result property="description"   column="description"/>
        <result property="basePrice"     column="base_price"/>
        <result property="marketPrice"   column="market_price"/>
        <result property="baseStock"     column="base_stock"/>
        <result property="soldNum"       column="sold_num"/>
        <result property="configStatus"  column="config_status"/>
        <result property="saleStatus"    column="sale_status"/>
        <result property="bookableFlag"  column="bookable_flag"/>
        <result property="sortNum"       column="sort_num"/>
        <result property="delFlag"       column="del_flag"/>
        <result property="createBy"      column="create_by"/>
        <result property="createTime"    column="create_time"/>
        <result property="updateBy"      column="update_by"/>
        <result property="updateTime"    column="update_time"/>
        <result property="remark"        column="remark"/>
    </resultMap>

    <sql id="selectRoomTypeColumns">
        select
            id,
            hotel_id,
            merchant_id,
            room_type_name,
            room_type_code,
            room_images,
            bed_type,
            people_limit,
            area,
            floor_desc,
            window_type,
            breakfast_count,
            extra_bed_flag,
            description,
            base_price,
            market_price,
            base_stock,
            sold_num,
            config_status,
            sale_status,
            bookable_flag,
            sort_num,
            del_flag,
            create_by,
            create_time,
            update_by,
            update_time,
            remark
        from hotel_room_type
    </sql>

    <select id="selectRoomTypeList" parameterType="com.yimamerchant.system.domain.hotel.query.HotelRoomTypeQuery"
            resultMap="HotelRoomTypeResult">
        <include refid="selectRoomTypeColumns"/>
        where merchant_id = #{merchantId}
          and del_flag = '0'
        <if test="roomTypeName != null and roomTypeName != ''">
            and room_type_name like concat('%', #{roomTypeName}, '%')
        </if>
        <if test="configStatus != null and configStatus != ''">
            and config_status = #{configStatus}
        </if>
        <if test="saleStatus != null and saleStatus != ''">
            and sale_status = #{saleStatus}
        </if>
        order by sort_num asc, id desc
    </select>

    <select id="selectRoomTypeById" parameterType="Long" resultMap="HotelRoomTypeResult">
        <include refid="selectRoomTypeColumns"/>
        where id = #{id}
          and del_flag = '0'
        limit 1
    </select>

    <insert id="insertRoomType" parameterType="com.yimamerchant.system.domain.hotel.HotelRoomType"
            useGeneratedKeys="true" keyProperty="id">
        insert into hotel_room_type (
            hotel_id,
            merchant_id,
            room_type_name,
            room_type_code,
            room_images,
            bed_type,
            people_limit,
            area,
            floor_desc,
            window_type,
            breakfast_count,
            extra_bed_flag,
            description,
            base_price,
            market_price,
            base_stock,
            sold_num,
            config_status,
            sale_status,
            bookable_flag,
            sort_num,
            del_flag,
            create_by,
            create_time,
            remark
        ) values (
            #{hotelId},
            #{merchantId},
            #{roomTypeName},
            #{roomTypeCode},
            #{roomImages},
            #{bedType},
            #{peopleLimit},
            #{area},
            #{floorDesc},
            #{windowType},
            #{breakfastCount},
            #{extraBedFlag},
            #{description},
            #{basePrice},
            #{marketPrice},
            #{baseStock},
            #{soldNum},
            #{configStatus},
            #{saleStatus},
            #{bookableFlag},
            #{sortNum},
            '0',
            #{createBy},
            sysdate(),
            #{remark}
        )
    </insert>

    <update id="updateRoomType" parameterType="com.yimamerchant.system.domain.hotel.HotelRoomType">
        update hotel_room_type
        <set>
            <if test="roomTypeName != null and roomTypeName != ''">room_type_name = #{roomTypeName},</if>
            <if test="roomTypeCode != null and roomTypeCode != ''">room_type_code = #{roomTypeCode},</if>
            <if test="roomImages != null">room_images = #{roomImages},</if>
            <if test="bedType != null and bedType != ''">bed_type = #{bedType},</if>
            <if test="peopleLimit != null">people_limit = #{peopleLimit},</if>
            <if test="area != null">area = #{area},</if>
            <if test="floorDesc != null">floor_desc = #{floorDesc},</if>
            <if test="windowType != null">window_type = #{windowType},</if>
            <if test="breakfastCount != null">breakfast_count = #{breakfastCount},</if>
            <if test="extraBedFlag != null">extra_bed_flag = #{extraBedFlag},</if>
            <if test="description != null">description = #{description},</if>
            <if test="basePrice != null">base_price = #{basePrice},</if>
            <if test="marketPrice != null">market_price = #{marketPrice},</if>
            <if test="baseStock != null">base_stock = #{baseStock},</if>
            <if test="soldNum != null">sold_num = #{soldNum},</if>
            <if test="configStatus != null and configStatus != ''">config_status = #{configStatus},</if>
            <if test="saleStatus != null and saleStatus != ''">sale_status = #{saleStatus},</if>
            <if test="bookableFlag != null and bookableFlag != ''">bookable_flag = #{bookableFlag},</if>
            <if test="sortNum != null">sort_num = #{sortNum},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
          and merchant_id = #{merchantId}
          and del_flag = '0'
    </update>

    <update id="logicalDeleteRoomType" parameterType="com.yimamerchant.system.domain.hotel.HotelRoomType">
        update hotel_room_type
        set del_flag = '2',
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        where id = #{id}
          and merchant_id = #{merchantId}
          and del_flag = '0'
    </update>

    <update id="updateConfigStatus" parameterType="com.yimamerchant.system.domain.hotel.HotelRoomType">
        update hotel_room_type
        set config_status = #{configStatus},
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        where id = #{id}
          and merchant_id = #{merchantId}
          and del_flag = '0'
    </update>

    <update id="updateSaleStatus" parameterType="com.yimamerchant.system.domain.hotel.HotelRoomType">
        update hotel_room_type
        set sale_status = #{saleStatus},
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        where id = #{id}
          and merchant_id = #{merchantId}
          and del_flag = '0'
    </update>

</mapper>

